# {{ project_name | title }}

---
## ✉️ Project overview
{% if description %}
> {{ description }}
{% else %}
<code>❯ REPLACE-ME</code>
{% endif %}

---

## 🍵 Features

<code>❯ REPLACE-ME</code>

---

## 🗂️ Project Structure
```
{% import 'macros.jinja' as macros %}
{{ project_name }}/
{{ macros.render_tree(file_tree, prefix='') }}
```
---

## 🛠️ Technologies Used
{% if languages %}
This project uses:
{% for lang in languages %}
- {{ lang }}
{% endfor %}
{% else %}
No specific languages detected.
<code>❯ REPLACE-ME</code>
{% endif %}

---

{% if has_requirements %}

## 📥 Installation

Install dependencies:

```bash
pip install -r requirements.txt
```
{% endif %}


{% if has_license %}

---
## 📄 License
This project includes a license file.

{% endif %}

---